/*
    --- 01 TYPOGRAPHY SYSTEM
    - FONT FAMILY
    font-family: 'Montserrat', sans-serif;

    - FONT SIZE SYSTEM (rem)
    1.0 / 1.2 / 1.4 / 1.6 / 1.8 / 2.0 / 2.4 / 3.0 / 3.2 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

    - Font weights:
    Default: 400
    Bold: 700

    - Font heights:
    Default: 1 

    - SPACING SYSTEM (rem)
    .2 / .4 / .8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8.0 / 9.6 / 12.8

    --- 02 COLORS

    - Primary: #1E1E1E #C86A5B
    - Tints:
    - Shadows:
    - Accents:
    - Greys: #92817F #A07C7C

    --- 05 SHADOWS
    --- 06 BORDER-RADIUS
    --- 07 WHITESPACE

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* if font-size: 62.5% -> 1rem = 10px not */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: #1E1E1E;
    overflow-x: hidden;
}

.overflow {
    overflow: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.margin-bottom {
    margin-bottom: 3rem;
}

.outlined-button {
    border: 2px solid #C86A5B;
    border-radius: 0.9rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.full-screen {
    width: 100%;
    height: 100vh;
}

/* "TAB" navigation */
*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(200, 105, 91, 0.5);
}