* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**************************/
/* HOME SECTION */
/**************************/
html {
    /* 1rem = 10px */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: #1E1E1E;
    overflow-x: hidden;

}

.margin-bottom {
    margin-bottom: 1rem;
}

.section-home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    max-width: 120rem;
}

.home_content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.home_content-text h1 {
    color: #C86A5B;
    font-weight: 700;
    font-size: 5rem;
}

.home_content-text h1 span {
    color: #92817F;
    font-weight: 700;
    font-size: 5rem;
}

.home_content-text h3 {
    font-size: 1.6rem;
    color: #92817F;
    font-weight: 400;
}

.home_content-text h3 span {
    font-size: 1.6rem;
    color: #C86A5B;
    font-weight: 500;
}

.home_content-text h2 {
    font-size: 2rem;
    color: #92817F;
    font-weight: 500;
}

.home_content-text span {
    font-size: 2rem;
    font-weight: bold;
    color: #C86A5B;
}

.home_content-btns {
    display: flex;
    gap: 5rem;
}

.content-btns_home:link,
.content-btns_home:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid;
    border-radius: 1rem;
    color: #92817F;
}

.content-btns_home:link:hover,
.content-btns_home:visited:hover {
    color: #C86A5B;
    transition: all .3s ease-in;
}

.content-btns_learn:link,
.content-btns_learn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid;
    border-radius: 1rem;
    color: #C86A5B;
}

.content-btns_learn:link:hover,
.content-btns_learn:visited:hover {
    color: #92817F;
    transition: all .3s ease-in;
}

.arrow-left {
    display: inline-block;
    margin-right: 0.5rem;
}

.content-btns_home:link:hover span,
.content-btns_home:visited:hover span {
    transform: translateX(-3px);
    transition: all .3s ease-in;
}

.arrow-down {
    display: inline-block;
}

.content-btns_learn:link:hover span,
.content-btns_learn:visited:hover span {
    transform: translateY(3px);
    transition: all .3s ease-in;
}

.back-left {
    transform: translateX(0);
    transition: all .3s ease-out;
}

.back-down {
    transform: translateY(0);
    transition: all .3s ease-out;
}

/**************************/
/* NAVIGATION */
/**************************/
header {
    width: 100%;
    padding: 1rem 2rem;
}   

.sticky .header {
    transition: all .1s;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(10px);
    /* SAFARI EDGE */
    -webkit-backdrop-filter: blur(10px);
}

.sticky .section-introduction {
    margin-top: 5.2rem;
}

nav {
    max-width: 120rem;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a:link,
ul li a:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #92817F;
}

ul li, a:link:hover,
ul li, a:visited:hover {
    transition: color .3s ease-in-out;
    color: #C86A5B;
}

ul li a > span{
    color: #C86A5B;
}

/**************************/
/* INTRODUCTION */
/**************************/
.section-introduction {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-introduction_container {
    max-width: 120rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4.8rem;
    margin: 0 auto;
    text-align: right;
}

.introduction_container--text {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: #92817F;
}

.introduction_container--text h1 span {
    font-weight: 400;
    color: #C86A5B;
}

.introduction_container--img {
    width: 55%;
}

/**************************/
/* FIRST STAGE*/
/**************************/
.sticky .section-first-stage {
    margin-top: 5.2rem;
}

.section-first-stage {
    width: 100%;
    display: flex;
    align-items: center;
}

.section-first-stage_container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 4.8rem;
}

.section-first-stage_container h1 {
    color: #1E1E1E;
    background-color: #C86A5B;
    text-align: center;
    padding: 1rem;
}

.section-first-stage_container h1 span {
    font-weight: 400;
    color: #C86A5B;
}

.first-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.first-text_img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.first-text p {
    color: #92817F;
}

.first-text h2 {
    color: #C86A5B;
    margin-bottom: -2rem;
}

figcaption {
    text-align: center;
    border-radius: 1rem;
    box-shadow: 8px 0px 40px -34px rgba(255, 255, 255, 1);
    background-color: #C86A5B;
}

.first-text_img-1 {
    border-radius: 1em;
    box-shadow: 8px 0px 40px -34px rgba(255, 255, 255, 1);
}

.first-text_img-2 {
    border-radius: 1em;
    box-shadow: 8px 0px 40px -34px rgba(255, 255, 255, 1);
}

.second-text {
    color: #92817F;
}

.second-text h2 {
    color: #C86A5B;
}

.second-text ul {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.second-text ul li {
    list-style: circle;
    margin-left: 1.5rem;
    color: #92817F;
}

.third-text {
    color: #92817F;
}

.third-text h2 {
    color: #C86A5B;
}

.third-text ul {
    display: flex;
    margin-top: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.third-text ul li {
    list-style: circle;
    margin-left: 1.5rem;
}

.third-text ul span {
    color: #92817F;
}

.third-text_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.third-text_container img {
    width: 100%;
}
/**************************/
/* SECOND STAGE*/
/**************************/
.section-second-stage {
    width: 100%;
    /* height: 100vh; */
    margin-top: 10.4rem;
}

.section-second-stage_container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

.section-second-stage_container {
    max-width: 120rem;
    margin: 0 auto;
}

.section-second-stage_container h1 {
    margin-bottom: -2rem;
    color: #1E1E1E;
    background-color: #C86A5B;
    text-align: center;
    padding: 1rem;
}

.section-second-stage_container h1 span{
    font-weight: 400;
    color: #C86A5B;
}

.fonts h2 {
    color: #92817F;
}

.fonts h2 span {
    color: #C86A5B;
    font-weight: 400;
}

.fonts-text {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    color: #92817F;
}

.fonts-text p > a{
    color: #C86A5B;
}

.fonts-text figure > figcaption {
    color: #1E1E1E;
}

.fonts img {
    width: 100%;
}

.colors {
    color: #92817F;
    display: flex;
    flex-direction: column;
}

.colors h2 {
    color: #92817F;
    align-self: flex-end;
}

.colors span {
    color: #C86A5B;
    font-weight: 400;
}

.colors-text {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
}

.colors-text p > a {
    color: #C86A5B;
}

.colors-text figure > figcaption {
    color: #1E1E1E;
}

.colors img {
    width: 100%;
}

/**************************/
/* THIRD STAGE*/
/**************************/

.section-third-stage {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10.4rem;
    margin-bottom: 10.4rem;
}

.section-third-stage_container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 4.8rem;
}

.section-third-stage_container h1 {
    color: #1E1E1E;
    background-color: #C86A5B;
    padding: 1rem;
    text-align: center;
}

/**************************/
/* FOOTER */
/**************************/
footer {
    width: 100%;
}

.footer-content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 176rem;
    gap: 1.5rem;
}

.footer-content_icons {
    display: flex;
    gap: 1.7rem;
}

.footer-content_icons > a:link,
.footer-content_icons > a:visited {
    border: 2px solid #92817F;
    padding: 1rem 1.25rem;
    border-radius: 50%;
}

.footer-content_icons > a:link:hover,
.footer-content_icons > a:visited:hover {
    color: #C86A5B;
    border-color: #C86A5B;
    transition: all .3s ease-in-out;
}

.footer-content > h1 {
    color: #C86A5B;
    font-size: 1.6rem;
}

.footer-content h1 > span {
    color: #92817F;
    font-weight: 400;
}