/* rem and em do not depend on html font size in media queries 
Instead, 1ren = 1em = 16px*/

@media only screen and (max-width: 41em) {
    /* HOME SECTION - START */

    .home-message {
        font-size: 1.5em;
    }

    .home-message_heading {
        font-size: 1em;
    }

    .home-button:link,
    .home-button:visited {
        padding: .5em 1em;
        font-size: 1em;
    }
    /* HOME SECTION - END */

    /* ABOUT SECTION - START */
    .section-about {
        margin-top: 17em;
        padding: 0 1em;
    }

    .about-hero {
        grid-template-rows: repeat(auto-fill, 1fr);
       grid-template-columns: none;
       gap: none;
    }

    .about-hero-img {
        width: 75%;
        justify-self: center;
    }
    /* ABOUT SECTION - END */

    /* EXPERIENCE SECTION - START */
    .experience-info {
        padding: 0 1em;
    }
    /* EXPERIENCE SECTION - END */

    /* PROJECTS SECTION - START */
    
    .projects-container {
        padding: 0 1em;
    }

    .projects-grid {
        grid-template-columns: none;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    /* PROJECTS SECTION - END */

    /* CONTACT SECTION - START */
    .contact-container {
        padding: 0 1em;
    }

    .contact-container > a:link,
    .contact-container > a:visited {
        font-size: 1em;
    }
    /* CONTACT SECTION - END */
}