/*
    --- 01 TYPOGRAPHY SYSTEM
    - FONT FAMILY
    font-family: 'Montserrat', sans-serif;

    - FONT SIZE SYSTEM (rem)
    1.0 / 1.2 / 1.4 / 1.6 / 1.8 / 2.0 / 2.4 / 3.0 / 3.2 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

    - Font weights:
    Default: 400
    Bold: 700

    - Font heights:
    Default: 1 

    - SPACING SYSTEM (rem)
    .2 / .4 / .8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8.0 / 9.6 / 12.8

    --- 02 COLORS

    - Primary: #1E1E1E #C86A5B
    - Tints:
    - Shadows:
    - Accents:
    - Greys: #92817F #A07C7C

    --- 05 SHADOWS
    --- 06 BORDER-RADIUS
    --- 07 WHITESPACE

*/

/* Global reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 1rem = 10px not 16px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: #1E1E1E;
    overflow-x: hidden;
}

/* HOME SECTION - START */
.section-home {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.home-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #92817F;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 3rem;
    animation: 1s appear ease-in;  
}

.home-message_heading {
    font-size: 3.2rem;
}

.home-message_heading--one,
.home-message_heading--two {
    color: #C86A5B;
    font-weight: 700;
}

.home-button:link,
.home-button:visited {
    border: 2px solid #C86A5B;
    border-radius: 0.9rem;
    color: #C86A5B;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 2rem;
    text-decoration: none;
    animation: slideUp 1s ease-in;
}

.home-button:link:hover,
.home-button:visited:hover {
    color: #92817F;
    transition: all .2s ease-in-out;
    border-color: #92817F;
}

.home-button:link span,
.home-button:visited span {
    display: inline-block;
    /* transform: rotate(90deg); */
}

.home-button:link:hover span,
.home-button:visited:hover span{
    color: #92817F;
    transform: translateY(3px);
    transition: all .2s ease-in-out;
}

@keyframes slideUp {
    0% {
        opacity: 0%;
        transform: translateY(-8px);
    }

    25% {
        opacity: 25%;
        transform: translateY(-6px);
    }

    50% {
        opacity: 50%;
        transform: translateY(-4x);
    }

    75% {
        opacity: 75%;
        transform: translateY(-2px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}
/* HOME SECTION - END */

/* HEADER - START */
header {
    width: 100%;
    backdrop-filter: blur(10px);
}

.header-burger_menu {
    display: none;
}

.sticky {
    z-index: 100;
    transition: all .3s ease-in-out;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.3);
}

.header-wrapper {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 176rem;
}

.header-logo {
    color: #C86A5B;
    font-size: 2.2rem;
}

nav {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

ul {
    display: flex;
    gap: 2.5rem;
}

ul li, a:link,
ul li, a:visited{
    color: #92817F;
    font-size: 2rem;
    list-style: none;
    text-decoration: none;
}

ul li, a:link:hover,
ul li, a:visited:hover {
    color: #C86A5B;
    transition: color .3s ease-in-out;
}

ul li a > span{
    color: #C86A5B;
}

.header-resume:link,
.header-resume:visited {
    border: 1px solid #C86A5B;
    padding: 1.3rem;
    border-radius: 0.9rem;
    color: #C86A5B;
}

.header-resume:link:hover,
.header-resume:visited:hover {
    color: #92817F;
    border-color: #92817F;
    transition: all .2s ease-in-out;
}
/* HEADER - END */

/* ABOUT SECTION - START */
.section-about {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0%;
}

.about-hero {
    max-width: 98rem;
    /* margin:  26rem auto 0 auto; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.about-hero-info {
    position: relative;
    color: #92817F;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.about-hero-info h1 > span {
    font-weight: 400;
    color: #C86A5B;
}

.about-hero-img {
    opacity: 95%;
    width: 100%;
    border-radius: 9px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.about-hero-img:hover {
    transform: scale(1.1);
    transition: all ease-in-out .3s;
}
/* ABOUT SECTION - END */

/* EXPERIENCE SECTION - START */

.section-experience {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
}

.experience-info {
    max-width: 54rem;
    color: #92817F;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.experience-info h1 > span {
    font-weight: 400;
    color: #C86A5B;
}

/* EXPERIENCE SECTION - END */

/* PROJECTS SECTION - START */
.section-projects {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0%;
}

.projects-container {
    width: 75.7rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #92817F;
}

.projects-container > h1 {
    margin-bottom: 3rem;
    align-self: flex-start;
}

.projects-container h1 > span {
    font-weight: 400;
    color: #C86A5B;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((2, 1fr));
    gap: 2.5rem;
}

.projects {
    background-color: #C86A5B;
    border-radius: 5px;
    padding: 1.7rem;
    color: #1E1E1E;
    box-shadow: 0px 0px 5px -1px rgba(146, 129, 127, 1);
}

.projects > span {
    display: inline-block;
    margin-bottom: 2rem;
}

.projects > h1 {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
}

.projects > p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.projects:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
/* PROJECTS SECTION - END */

/* CONTACT SECTION - START */

.section-contact {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 54rem;
    margin: 0 auto;
    gap: 3rem;
}

.contact-container > h1 {
    color: #92817F;
}

.contact-container h1 > span {
    font-weight: 400;
    color: #C86A5B;
}

.contact-container > p {
    color: #92817F;
}

.contact-container > a:link,
.contact-container > a:visited {
    display: inline-block;
    font-family: 2rem;
    color: #C86A5B;
    font-weight: 400;
    border: 2px solid #C86A5B;
    align-self: center;
    padding: 1.3rem 1.8rem;
    border-radius: 9px;
}

.contact-container > a:link:hover,
.contact-container > a:visited:hover {
    color: #92817F;
    border-color: #92817F;
    transition: all .3s ease-in-out;
}

/* CONTACT SECTION - END */

/* FOOTER - START */
footer {
    width: 100%;
}

.footer-content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 176rem;
    gap: 1.5rem;
}

.footer-content_icons {
    display: flex;
    gap: 1.7rem;
}

.footer-content_icons > a:link,
.footer-content_icons > a:visited {
    border: 2px solid #92817F;
    padding: 1rem 1.25rem;
    border-radius: 50%;
}

.footer-content_icons > a:link:hover,
.footer-content_icons > a:visited:hover {
    color: #C86A5B;
    border-color: #C86A5B;
    transition: all .3s ease-in-out;
}

.footer-content > h1 {
    color: #C86A5B;
    font-size: 1.6rem;
}

.footer-content h1 > span {
    color: #92817F;
    font-weight: 400;
}

/* FOOTER - END */

/* Animations - Start*/
.animationAppear {
    animation: appear .3s ease-in forwards;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}
/* Animations - End */